body {
    color: white;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .brandName{
    font-size: 1.2rem;
}
.header ul{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    list-style: none;
}
.nav-link {
    padding: 0;
    margin: 0.25rem 0 0.25rem 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 0.25rem solid transparent;
}
.nav-link:hover{
    color: rgba(255,255,255,0.7);
    border-bottom-color:rgba(255,255,255,0.5);
}

.main {
    width: 25rem;
    margin: 8rem auto;
    text-align: center;
}
.header-text{
    padding-bottom: 0.5rem;
    font-size: 2rem;
}
.intro-text{
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.btn{
    color: white;
    text-shadow: none;
}
.btn:hover{
    color: inherit;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(225, 255, 255, 0.5);}

.footer-text {
    width: 100vw;
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    opacity: 0.5;
    font-size: small;
}



/* @media (max-width: 500px) {
    
} */